USE [master]
GO
/****** Object:  Database [Promed]    Script Date: 03/31/2019 23:13:10 ******/
CREATE DATABASE [Promed]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Promed', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Promed.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Promed_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Promed_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Promed].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Promed]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AboutElements]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AboutElements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Text] [ntext] NULL,
	[Icon] [nvarchar](200) NULL,
	[IsTop] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AboutElements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](1000) NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
	[Date] [datetime] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[DoctorId] [int] NOT NULL,
	[MinAbout] [ntext] NOT NULL,
	[TitlePhoto] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.Blogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
	[Title] [nvarchar](350) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Icon] [nvarchar](200) NULL,
	[MinAbout] [ntext] NOT NULL,
	[Slug] [nvarchar](1000) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Slug] [nvarchar](1000) NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
	[About] [ntext] NOT NULL,
	[Phone] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Adress] [nvarchar](300) NOT NULL,
	[Facebook] [nvarchar](250) NULL,
	[Twitter] [nvarchar](250) NULL,
	[Google] [nvarchar](250) NULL,
	[Linkedin] [nvarchar](250) NULL,
	[IsHead] [bit] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SpecialityId] [int] NOT NULL,
	[MinAbout] [ntext] NOT NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facts]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Icon] [nvarchar](200) NOT NULL,
	[Count] [int] NOT NULL,
	[Text] [nvarchar](200) NOT NULL,
	[OrderBy] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Facts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OpeningHours]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpeningHours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Day] [nvarchar](250) NOT NULL,
	[OpenHour] [nvarchar](250) NOT NULL,
	[OrderBy] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OpeningHours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Phone2] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Email2] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](200) NOT NULL,
	[Facebook] [nvarchar](250) NOT NULL,
	[Twitter] [nvarchar](250) NOT NULL,
	[Google] [nvarchar](250) NOT NULL,
	[Linkedin] [nvarchar](250) NOT NULL,
	[VideoLink] [nvarchar](200) NOT NULL,
	[VideoText] [nvarchar](500) NOT NULL,
	[Lat] [nvarchar](50) NOT NULL,
	[Lng] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sliders]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [ntext] NOT NULL,
	[Photo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialities]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_dbo.Specialities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscribes]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscribes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Subscribes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subsliders]    Script Date: 03/31/2019 23:13:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subsliders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Text] [ntext] NOT NULL,
 CONSTRAINT [PK_dbo.Subsliders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AboutElements] ON 

INSERT [dbo].[AboutElements] ([Id], [Title], [Text], [Icon], [IsTop]) VALUES (1, N'
Modern Clinic', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text.', N'icofont-stethoscope-alt', 1)
INSERT [dbo].[AboutElements] ([Id], [Title], [Text], [Icon], [IsTop]) VALUES (3, N'Qualified Doctors', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text.', N'icofont-doctor-alt', 1)
INSERT [dbo].[AboutElements] ([Id], [Title], [Text], [Icon], [IsTop]) VALUES (8, N'Emergency Cases', N'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry''s standard dummy text.', N'icofont-ambulance', 1)
SET IDENTITY_INSERT [dbo].[AboutElements] OFF
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([Id], [Title], [Text], [Photo]) VALUES (1, N'Happiness is nothing more than good health and a bad memory and', N'<p><strong>Happiness is nothing more than good health and a bad memory andHappiness is nothing more than good health and a bad memory and</strong> <strong>Happiness is nothing more than good health and a bad memory and</strong></p><h3>&nbsp;</h3><h3>&nbsp;</h3>', N'20190328172318923doctor1.jpg')
SET IDENTITY_INSERT [dbo].[Abouts] OFF
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Id], [Fullname], [Email], [Password]) VALUES (6, N'Orxan', N'h.orxan@gmail.com', N'AFLXVgvIboJPWijYH6rkPLuLs0ml3vfkN8HQoyxaUXUkvUT0tsKwXNN3SxCOWXxiAA==')
INSERT [dbo].[Admins] ([Id], [Fullname], [Email], [Password]) VALUES (13, N'Orkhan Hajizada', N'orkhan@gmail.com', N'AHsP5g1iLE6IKPOeUOdq6/wywF1OQiWpKeHbUQSQNbiztAaPSnum6jgd/1QQUCi9BQ==')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Blogs] ON 

SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Financial Advice')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Market Research')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (4, N' Business Solutions')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[Facts] ON 

INSERT [dbo].[Facts] ([Id], [Icon], [Count], [Text], [OrderBy]) VALUES (1, N'icofont-simple-smile', 25000, N'Happy Patients', 1)
INSERT [dbo].[Facts] ([Id], [Icon], [Count], [Text], [OrderBy]) VALUES (2, N'icofont-doctor-alt', 180, N'Experienced Doctors', 3)
INSERT [dbo].[Facts] ([Id], [Icon], [Count], [Text], [OrderBy]) VALUES (3, N'icofont-operation-theater', 1500, N'Successful Operations', 4)
SET IDENTITY_INSERT [dbo].[Facts] OFF
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([Id], [Fullname], [Photo], [Text], [Date]) VALUES (1, N'Anym Jackson', N'feed1.jpg', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.', CAST(N'2019-03-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Feedbacks] ([Id], [Fullname], [Photo], [Text], [Date]) VALUES (3, N'Scarlett Johansson', N'feed2.jpg', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.', CAST(N'2019-02-14T00:00:00.000' AS DateTime))
INSERT [dbo].[Feedbacks] ([Id], [Fullname], [Photo], [Text], [Date]) VALUES (4, N'Mark Rylance', N'feed3.jpg', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.', CAST(N'2018-12-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
SET IDENTITY_INSERT [dbo].[OpeningHours] ON 

INSERT [dbo].[OpeningHours] ([Id], [Day], [OpenHour], [OrderBy]) VALUES (1, N'Mon - Thu', N'8.00 AM - 20.00 PM', 1)
INSERT [dbo].[OpeningHours] ([Id], [Day], [OpenHour], [OrderBy]) VALUES (2, N'Friday', N'5.00 AM - 20.00 PM', 2)
INSERT [dbo].[OpeningHours] ([Id], [Day], [OpenHour], [OrderBy]) VALUES (3, N'Saturday - Thu', N'9.00 AM - 20.00 PM', 3)
SET IDENTITY_INSERT [dbo].[OpeningHours] OFF
SET IDENTITY_INSERT [dbo].[Settings] ON 

SET IDENTITY_INSERT [dbo].[Settings] OFF
SET IDENTITY_INSERT [dbo].[Sliders] ON 

INSERT [dbo].[Sliders] ([Id], [Text], [Photo]) VALUES (1, N'Best Care & Better Doctors', N'slider1.jpg')
INSERT [dbo].[Sliders] ([Id], [Text], [Photo]) VALUES (2, N'We Always Care Your Health', N'slider2.jpg')
SET IDENTITY_INSERT [dbo].[Sliders] OFF
SET IDENTITY_INSERT [dbo].[Specialities] ON 

INSERT [dbo].[Specialities] ([Id], [Name]) VALUES (1, N'Orthopaedic surgeon')
INSERT [dbo].[Specialities] ([Id], [Name]) VALUES (2, N'Cardiology')
SET IDENTITY_INSERT [dbo].[Specialities] OFF
SET IDENTITY_INSERT [dbo].[Subscribes] ON 

INSERT [dbo].[Subscribes] ([Id], [Email]) VALUES (1, N'orkhan@gmail.com')
INSERT [dbo].[Subscribes] ([Id], [Email]) VALUES (2, N'orkhan@gmail.com')
INSERT [dbo].[Subscribes] ([Id], [Email]) VALUES (3, N'orkhan@gmail.com')
SET IDENTITY_INSERT [dbo].[Subscribes] OFF
SET IDENTITY_INSERT [dbo].[Subsliders] ON 

INSERT [dbo].[Subsliders] ([Id], [Photo], [Title], [Text]) VALUES (1, N'sub1.jpg', N'Emergency Care
', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore')
INSERT [dbo].[Subsliders] ([Id], [Photo], [Title], [Text]) VALUES (2, N'sub2.jpg', N'Qualified Doctors', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore')
INSERT [dbo].[Subsliders] ([Id], [Photo], [Title], [Text]) VALUES (3, N'sub3.jpg', N'7/24 Hours Service', N'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore')
SET IDENTITY_INSERT [dbo].[Subsliders] OFF
/****** Object:  Index [IX_CategoryId]    Script Date: 03/31/2019 23:13:10 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Blogs]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorId]    Script Date: 03/31/2019 23:13:10 ******/
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[Blogs]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 03/31/2019 23:13:10 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Doctors]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpecialityId]    Script Date: 03/31/2019 23:13:10 ******/
CREATE NONCLUSTERED INDEX [IX_SpecialityId] ON [dbo].[Doctors]
(
	[SpecialityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ('') FOR [MinAbout]
GO
ALTER TABLE [dbo].[Blogs] ADD  DEFAULT ('') FOR [TitlePhoto]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ('') FOR [MinAbout]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ('') FOR [MinAbout]
GO
ALTER TABLE [dbo].[Facts] ADD  DEFAULT ((0)) FOR [OrderBy]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [Date]
GO
ALTER TABLE [dbo].[OpeningHours] ADD  DEFAULT ((0)) FOR [OrderBy]
GO
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('') FOR [Photo]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Blogs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blogs_dbo.Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Blogs] CHECK CONSTRAINT [FK_dbo.Blogs_dbo.Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctors_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_dbo.Doctors_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctors_dbo.Specialities_SpecialityId] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Specialities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_dbo.Doctors_dbo.Specialities_SpecialityId]
GO
USE [master]
GO
